In [1]:
import pandas as pd 
from scipy import stats 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_sas('../data/demographics.xpt', format='xport', index=None, encoding='ISO-8859-1', chunksize=None, iterator=False)
df.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557.0,8.0,2.0,1.0,69.0,NaN,4.0,4.0,1.0,NaN,...,3.0,4.0,NaN,13281.237386,13481.042095,1.0,112.0,4.0,4.0,0.84
1,73558.0,8.0,2.0,1.0,54.0,NaN,3.0,3.0,1.0,NaN,...,3.0,1.0,1.0,23682.057386,24471.769625,1.0,108.0,7.0,7.0,1.78
2,73559.0,8.0,2.0,1.0,72.0,NaN,3.0,3.0,2.0,NaN,...,4.0,1.0,3.0,57214.803319,57193.285376,1.0,109.0,10.0,10.0,4.51
3,73560.0,8.0,2.0,1.0,9.0,NaN,3.0,3.0,1.0,119.0,...,3.0,1.0,4.0,55201.178592,55766.512438,2.0,109.0,9.0,9.0,2.52
4,73561.0,8.0,2.0,2.0,73.0,NaN,3.0,3.0,1.0,NaN,...,5.0,1.0,5.0,63709.667069,65541.871229,2.0,116.0,15.0,15.0,5.00

In [4]:
df.count()

SEQN        10175
SDDSRVYR    10175
RIDSTATR    10175
RIAGENDR    10175
RIDAGEYR    10175
RIDAGEMN      673
RIDRETH1    10175
RIDRETH3    10175
RIDEXMON     9813
RIDEXAGM     4213
DMQMILIZ     6261
DMQADFC       543
DMDBORN4    10175
DMDCITZN    10171
DMDYRSUS     1908
DMDEDUC3     2803
DMDEDUC2     5769
DMDMARTL     5769
RIDEXPRG     1309
SIALANG     10175
SIAPROXY    10174
SIAINTRP    10175
FIALANG     10054
FIAPROXY    10054
FIAINTRP    10054
MIALANG      7311
MIAPROXY     7312
MIAINTRP     7313
AIALANGA     6317
DMDHHSIZ    10175
DMDFMSIZ    10175
DMDHHSZA    10175
DMDHHSZB    10175
DMDHHSZE    10175
DMDHRGND    10175
DMDHRAGE    10175
DMDHRBR4     9878
DMDHREDU     9881
DMDHRMAR    10052
DMDHSEDU     5342
WTINT2YR    10175
WTMEC2YR    10175
SDMVPSU     10175
SDMVSTRA    10175
INDHHIN2    10042
INDFMIN2    10052
INDFMPIR     9390
dtype: int64